# Logs
logs
!apps/verge/src/pages/logs/
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

target/
dist/

.cache/
apps/verge-gpui/scripts/benchmark/
